.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Webplayer files
Klient/node_modules/*
Server/static/*
ŚmietkoKopie/*
ŚmietkoKopie/App.vue
ŚmietkoKopie/index.js
ŚmietkoKopie/Songs.vue
